html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Полная высота экрана */
  width: 100vw; /* Полная ширина экрана */
  overflow: hidden;
}



body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}




